@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes play {
  0% {
    background-size: cover 100%;
  }
  50% {
    background-size: cover 105%;
  }
  100% {
    background-size: cover 100%;
  }
}
