.main-quiz {
  margin-bottom: 24px;
}

.container-qiuz {
  position: relative;
}

.cover-quiz {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-quiz__container {
  height: 550px;
  display: flex;
  align-items: center;
  padding-top: 164px;
  box-shadow: 0 -220px 150px 0 #fff inset, 0 -50px 50px -200px #fff inset,
    0 -50px 50px -200px #fff inset;
}

.quiz {
  border-radius: 20px;
  margin-top: -90px;
  margin-bottom: 90px;
}

.quiz__wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.questions,
.answer {
  flex: 1 1 50%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.questions__list {
  padding: 0;
}

.questions__list {
  width: 100%;
}

.questions__item {
  min-height: 46px;
  width: 100%;
  text-align: left;
}

.questions__item::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #000000;
}

.questions__item:hover::before {
  background-color: #ffffff;
}

.questions__item.error {
  color: #f90000;
}

.questions__item.error::before {
  background-color: #f90000;
}

.questions__item.success {
  color: #008b2c;
}

.questions__item.success::before {
  background-color: #008b2c;
}

.card {
  position: relative;
  overflow: hidden;
  &:hover {
    .card__title--full {
      opacity: 0;
    }
  }

  &__header {
    user-select: none;
    img {
      user-select: inherit;
    }
  }
}

.card-wrapper {
  display: grid;
  grid-template:
    "image player"
    "image description";
  gap: 10px;
  padding: 15px 25px 15px;
}

.card__body {
  grid-area: player;
}

.card__description {
  grid-area: description;
  color: #727171;
  height: 128px;
  overflow-x: hidden;
}

.card__image {
  grid-area: image;
  display: flex;
  align-items: center;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.card--error {
  border-color: #f90000;
  background: rgba(249, 0, 0, 0.0509803922);
}

.card--success {
  border-color: #008b2c;
  background: rgb(102 255 121 / 5%);
}

.card__image.card__image--min {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card__subtitle {
  font-weight: 400;
  font-style: italic;
}

.cover-active {
  animation: play 2s infinite;
}

.quiz-category {
  display: flex;
  margin-bottom: 8px;
  @media (max-width: $mobile) {
    gap: 3px;
    flex-flow: wrap;
    .btn {
      border-radius: unset;
      padding: 2px;
    }
  }
}
