.catalog-page {
  @media (max-width: $mobile) {
    .cover-quiz__container {
      height: 118px;
      padding-top: 84px;
    }
  }

  .player__title--big {
    font-size: 36px;
    text-shadow: 0px 0px 5px #ffffff;
    color: #000000;
    text-decoration: none;
  }

  .cover-quiz__container {
  }
}

.catalog {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  margin: 36px 0;
}

.catalog .card {
  flex: 1 1 30%;
  @media (max-width: $tablet) {
    flex: 1 1 45%;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    flex: 1 1 auto;
  }
}
