.main-quiz {
  margin-bottom: 24px;
}

.container-qiuz {
  position: relative;
}

$width-question-svg: 50px;

.quiz-page {
  .player__title::before {
    content: "";
    background-image: url("../assets/img/system/question.svg");
    position: absolute;
    z-index: 2;
    width: $width-question-svg;
    height: $width-question-svg;
    background-size: contain;
    background-repeat: no-repeat;
    left: calc(50% - ($width-question-svg/2));
    top: -50%;
    animation: question 2s infinite;
    transform: rotate(180deg);
  }
}

.cover-quiz {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    height: 550px;
    display: flex;
    align-items: center;
    padding-top: 164px;
    box-shadow: 0 -220px 150px 0 #fff inset, 0 -50px 50px -200px #fff inset,
      0 -50px 50px -200px #fff inset;
  }

  .player__title.win::before {
    display: none;
  }
}

.quiz {
  border-radius: 20px;
  margin-top: -90px;
  margin-bottom: 90px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
}

.questions,
.answer {
  flex: 1 1 50%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.answer {
  h5 {
    z-index: 1;
  }
}

.questions {
  &__list {
    width: 100%;
  }
  &__item {
    min-height: 46px;
    width: 100%;
    text-align: left;

    &.success {
      color: #008b2c;

      &::before {
        background-color: #008b2c;
      }
    }

    &.error {
      color: #f90000;

      &::before {
        background-color: #f90000;
      }
    }

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 15px;
      border-radius: 50%;
      -webkit-transition: 0.1s;
      transition: 0.1s;
      background-color: #000000;
    }

    &:hover::before {
      background-color: #ffffff;
    }
  }
}

.card-wrapper {
  display: grid;
  grid-template:
    "image player"
    "image description";
  gap: 10px;
  padding: 15px 25px 15px;
}

.card {
  position: relative;
  overflow: hidden;
  &:hover {
    .card__title--full {
      opacity: 0;
    }
  }

  &__header {
    user-select: none;
    img {
      user-select: inherit;
    }
  }

  &__body {
    grid-area: player;
  }

  &__description {
    grid-area: description;
    color: #727171;
    height: 128px;
    overflow-x: hidden;
  }

  &__image {
    grid-area: image;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      object-fit: cover;
    }

    .cover-active {
      animation: play 2s infinite;
    }

    &.card__image--min {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &--error {
    border-color: #f90000;
    background: rgba(249, 0, 0, 0.0509803922);
  }

  &--success {
    border-color: #008b2c;
    background: rgb(102 255 121 / 5%);
  }

  &__subtitle {
    font-weight: 400;
    font-style: italic;
  }
}

.quiz-category {
  display: flex;
  margin-bottom: 8px;
  @media (max-width: $mobile) {
    gap: 3px;
    flex-flow: wrap;
    .btn {
      border-radius: unset;
      padding: 2px;
    }
  }
}
